page-list-details {

  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
      color: #fff;
      font-weight: bold;
      text-align: center;
      position: relative;
      font-size: 1.6em;
      top: 30%;
  }

  .scroll {
      height: 100%;
  }

  .scroll-content {
      height: 100%
  }

  #map {
      width: 100%;
      height: 100%;
  }

  .desc{
    background-color:white;
    color: $primary;
    font-size: 15px;
    -webkit-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
    padding: 10px;
    z-index: 1000000;
    position: fixed;
    width: 100%;
    min-height: 82px;
    bottom:0;

    h2{
      font-size: 15px;
      margin: 0;
      font-family: $font-bold;
    }

    .sep{
      height: 1px;
      background-color:#eeeff0;
      width: 100%;
      margin: 5px 0;
    }

    button{
      &.btn-ios{
        color: $primary;
        font-size: 15px;
        font-family: $font-bold;
        padding: 10px;

        img{
          vertical-align:middle;
          padding-right: 10px;
        }
      }

      &.btn-md{
        transition: none;
        position: absolute;
        right: 20px;
        top: -30px;
      }
    }
  }

  .gm-style-iw{
    h2{
      font-size: 15px;
      font-family: $font-bold;
      color: $primary;
      margin-bottom:0;
    }

    span{
      font-size: 15px;
      color: $primary;
    }
  }

  .content-ios{
    .gm-style-iw{
      button{
        width: 100%;
        background-color: $primary;
        color: white;
        font-size: 15px;
        padding: 10px;
        margin-top: 10px;
        font-family: $font-bold;
        border-radius: 10px;
      }
    }
  }

  .content-md{
    .gm-style-iw{
      button{
        float:right;
        color: $primary;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 8px;
        font-family: $font-bold;
      }
    }
  }
}
