<ion-header>
  <ion-navbar id="not-home">
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div #pleaseConnect id="please-connect">
  <p>Please connect to the Internet...</p>
</div>

<div #map id="map"></div>

<div class="desc">
<button class="btn-md" showWhen="android" (click)="maps.openNavigatorApp(latitude , longitude, maps.currentPosition_lat_details, maps.currentPosition_lng_details, 'List Event')" ><img src="./assets/icons/icon_FAB.svg"/></button>
<h2>{{title}}</h2>
<div>
  <p>{{street}}<br>
     {{zip}} {{city}}
   </p>
</div>
<div class="sep" showWhen="ios"></div>
<button class="btn-ios" showWhen="ios" (click)="maps.openNavigatorApp(latitude , longitude, maps.currentPosition_lat_details, maps.currentPosition_lng_details, 'List Event')" ><img src="./assets/icons/icon_loc.svg"/>In Karten öffnen und Route berechnen</button>
</div>
</ion-content>
