<ion-content>
  <ion-list class="settings-list map" hideWhen="ios">
    <ion-item>
      <ion-label class="toggle-label">Nur Bankhaus August Lenz-eigene Geldautomaten anzeigen</ion-label>
      <ion-toggle [(ngModel)]="maps.balOnly" (ionChange)="changeAtm($event)"></ion-toggle>
    </ion-item>
  </ion-list>

  <div #pleaseConnect id="please-connect">
    <div>Please connect to the Internet...</div>
  </div>

  <div #map id="map"></div>

  <button showWhen="android" class="md-loc" (click)="getMyLocation()"><img src="./assets/icons/icon_md_geo_loc.svg"/></button>

</ion-content>
