.ios page-atm-map {
    #map {
      width: 100%;
      height: 80%;
  }
};

page-atm-map {

  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
      color: #fff;
      font-weight: bold;
      text-align: center;
      position: relative;
      font-size: 1.6em;
      top: 30%;
  }

  .scroll {
      height: 100%;
  }

  .scroll-content {
      height: 100%
  }

  #map {
      width: 100%;
      height: 100%;
  }

  .settings-list {
    margin-bottom: 0;
    position:absolute;
    z-index:10000;

    &.map .item-md {
      background: rgba(0,0,0,0.5);

      .label-md {
        color: white;
      }
    }
  }

  .md-loc{
    position:absolute;
    z-index: 100000;
    right:0;
    bottom:55px;
  }

  .gm-style-iw{

    h2{
      font-size: 15px;
      font-family: $font-bold;
      color: $primary;
      margin-bottom:0;
    }

    span{
      font-size: 15px;
      color: $primary;
    }
  }

  .content-ios{
    .gm-style-iw{
      button{
        width: 100%;
        background-color: $primary;
        color: white;
        font-size: 15px;
        padding: 10px;
        margin-top: 10px;
        font-family: $font-bold;
        border-radius: 10px;
      }
    }
  }

  .content-md{
    .gm-style-iw{
      button{
        float:right;
        color: $primary;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 8px;
        font-family: $font-bold;
      }
    }
  }

}
