<ion-header>
  <ion-navbar id="not-home">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <iframe id="iframe1" [src]="url | safe" height="100%" width="100%" frameborder="0" allowfullscreen ></iframe>
</ion-content>
