page-atm-list {
  .item-ios {
    border-bottom: 1px solid $grey-light;
  }

  .list-ios .item-block .item-inner {
    border-bottom: none;
  }

  .settings-list {
    margin-bottom: 0;

    .item-md {
      background: rgba(0,55,98,0.5);

      .label-md {
        color: white;
      }
    }
  }

  .item-md {
    h2 {
      font-size: 17px;
    }

    p {
      font-size: 15px;
      color: #bbb;
    }
  }

  .item-ios {
    h2 {
      color: $primary;
      font-family: $font-bold;
      font-size: 15px;
    }

    p {
      font-size: 15px;
      color: $primary;
    }
  }

  .item-md .dist-md {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #bbb;
    font-size: 15px;
  }

  .item-ios .dist-ios {
    padding-top: 5px;
    font-size: 15px;
    color: #666;
  }

  .item-md .item-text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 83%;
  }
}

.md page-atm-list ion-content {
  height: 92% !important;
}

.ios page-atm-list .scroll-content {
  height: 80% !important;
}
