<ion-content>
  <ion-list class="settings-list"  hideWhen="ios">
    <ion-item>
      <ion-label class="toggle-label">Nur Bankhaus August Lenz-eigene Geldautomaten anzeigen</ion-label>
      <ion-toggle [(ngModel)]="maps.balOnly" (ionChange)="changeAtm($event)"></ion-toggle>
    </ion-item>
  </ion-list>

    <ion-list>
        <button ion-item *ngFor="let location of locationsData" (click)="pushToDetails(location)">
            <ion-avatar item-left>
                <img *ngIf="location.type == 'ownAtm'" src="./assets/icons/map_pin_bal_atms_big.svg"/>
                <img *ngIf="location.type == 'notOwnAtm'" src="./assets/icons/map_pin_nonbal_atms_big.svg"/>
                <p showWhen="ios" class="dist-ios">{{formatDistance(location.mainData.BasicData.Geo.Distance)}} km</p>
            </ion-avatar>
            <h2 class="item-text-wrap">{{location.mainData.BasicData.Address.CompanyName}}</h2>
            <p>{{location.mainData.BasicData.Address.Street}} <br>
               {{location.mainData.BasicData.Address.Zip}} {{location.mainData.BasicData.Address.City}}
            </p>
            <p showWhen="android" class="dist-md">{{formatDistance(location.mainData.BasicData.Geo.Distance)}} km</p>
        </button>
    </ion-list>

</ion-content>
