<ion-menu [content]="mycontent">
  <page-home-item *ngFor="let item of items" [data]="item" [itemType]="'side'"></page-home-item>
  <ion-footer class="bar-stable">
    <div class="copyright">© Bankhaus August Lenz & Co. AG</div>
    <img class="logo-footer" src="./assets/icons/bal_logo_sidebar.svg" />
  </ion-footer>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-header [ngClass]="{'nav': homeService.condition}">
  <ion-navbar id="home">
    <button ion-button menuToggle hideWhen="ios">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Bankhaus August Lenz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Dynamic start -->
  <page-home-item *ngFor="let item of items; let id=index" [data]="item" [itemType]="'main'" [id]="id" [(parent)]="content"></page-home-item>
   <!-- Dynamic end -->

  <!-- Ios footer start-->
  <div hideWhen="android">
    <div class="copyright">© Bankhaus August Lenz & Co. AG</div>
    <img class="logo-footer" src="./assets/icons/bal_logo_sidebar.svg" />
  </div>
  <!-- Ios footer end-->


</ion-content>
