page-home {
  .button-inner{

     justify-content:flex-start;

    img{
      max-height: 100%;
      padding: 8px 8px 8px 0;
    }
  }

  .logo-footer{
    margin-left:auto;
    margin-right: auto;
    display:block;
    padding: 10px 20px;
    max-width: 150px;
  }

  .copyright{
    margin-left:auto;
    margin-right: auto;
    display:block;
    text-align: center;
    padding-top: 20px;
    color:$grey-dark;
    font-size: 10px;
  }

  .button{
        margin: 10px 0;

        &.open{
          margin-bottom:0;
          border-radius: 5px 5px 0px 0px;
        }
  }

  .button-full-ios {
    /* Rectangle Copy 3: */
    background: #446C8C;
    border-radius: 5px;
  }

  .button-full-md{
    /* Rectangle 622: */
      background: #446C8C;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
      border-radius: 3px;
  }

  .bar-button-default-md{
      color: white;
  }

  .button-md{
    text-transform: none;
    height: 5.6rem;
    margin: 16px 0px;
  }


  .icon-right{
    position: absolute;
    right:0;
    padding-top:3px !important;
  }

  .card{
    margin: 0 0 0 0;
    width: 100%;
    background-color: $grey-light;
    box-shadow: none;

    p{
      color: $primary;
      line-height: 1.2;
      padding-bottom: 10px;
    }

    &.card-ios{
      border-radius: 0px 0px 5px 5px;
    }

    &.card-md{
      border-radius: 0px 0px 3px 3px;
    }
  }

  .footer{
    &:before{
      background-image:none;
    }

    .copyright{
      text-align: left;
      padding-left: 20px;
    }

    .logo-footer{
      margin:0;
    }
  }

  .menu-inner{
    .list{
      padding-top: 25px;
      padding-left: 20px;
      color: $grey-dark;
    }
  }


}
