// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$font-primary: 'Mediolanum Sans Regular';

$font-bold: 'Mediolanum Sans Bold';




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #446C8C,
  secondary:  #5099D2,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  blue-dark:    #003762,
  grey-dark:  #666666,
  grey-light:     #EEEFF0,
  grey-middle:       #D8D8D8,
  blue-light: #B4C7D5
);

$primary: #446C8C;
$blue-light: #B4C7D5;
$grey-dark:#666666;
$grey-light: #EEEFF0;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$popover-ios-width: 90%;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
//
$popover-md-width: 100%;




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
