<ion-list>
  <ion-item class="search-head">
    <ion-label>Suchergebnisse:</ion-label>
  </ion-item>
  <ion-item *ngFor="let result of resultsList" (click)="selectResult(this.result)" class="search-item">
    <button full color="primary">{{ result.City }}</button>
  </ion-item>
</ion-list>
