// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'Mediolanum Sans Bold';
  src: url('../assets/fonts/mediolanumsans-bold-webfont') format("eot"),url("../assets/fonts/mediolanumsans-bold-webfont.woff") format("woff"),url("../assets/fonts/mediolanumsans-bold-webfont.ttf") format("truetype"),url("../assets/fonts/mediolanumsans-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mediolanum Sans Regular';
  src: url('../assets/fonts/mediolanumsans-regular-webfont') format("eot"),url("../assets/fonts/mediolanumsans-regular-webfont.woff") format("woff"),url("../assets/fonts/mediolanumsans-regular-webfont.ttf") format("truetype"),url("../assets/fonts/mediolanumsans-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Mediolanum Sans Regular';
}

#home {
  &.toolbar-ios {
    .toolbar-background {
      background: $primary;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, $primary , $blue-light);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, $primary, $blue-light);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, $primary, $blue-light);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, $primary , $blue-light);
      /* Standard syntax */
    }

    .toolbar-title {
      color: white;
      font-family: $font-bold;
      font-size: 20px;
    }

    ion-title {
      padding: 20px 0 0;
    }
  }
}

#not-home {
  &.toolbar-ios {
    .toolbar-background {
      background: #f9f9f9;
    }

    .toolbar-title {
      color: $primary;
      font-family: $font-primary;
      font-size: 17px;
    }
  }
}

.toolbar-md {
  .toolbar-background {
    background: $primary;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $primary , $blue-light);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $primary, $blue-light);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $primary, $blue-light);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $primary , $blue-light);
    /* Standard syntax */
  }

  .toolbar-title {
    color: white;
    font-family: $font-bold;
    font-size: 20px;
  }
}

ion-menu {
  top: 56px;
}

.popover-md .popover-content {
  border-radius: 0;
  left: 0 !important;
  height: 100% !important;

  ion-item {
    &.search-head {

      ion-label {
        color: $primary;
        font-family: $font-bold;
      }
    }

    .item-inner{
      border-bottom:0;
    }
  }
}

.search-popover {
  .popover-arrow {
    display: none;
  }

  ion-backdrop {
    background-color: transparent;
  }
}

.search-popover .popover-content {
  width: 100% !important;
  border-radius: 0;
  top: 167px !important;
  left: 0 !important;
  height: 100% !important;

  ion-item {
    &.search-head {
      padding: 0;
      background-color: #fafafa;

      ion-label {
        color: $primary;
        font-family: $font-bold;
        padding-left: 5px;
      }
    }

    button {
      color: $primary;
      padding-left: 5px;
    }
  }
}

page-search-results {
  button {
    font-size: 17px;
  }

  .list-md {
    top: -1000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
  }

  .lis-ios {
    padding: 0;
  }
}

.back-button-text-md{
  display:none;
}

ion-header{
  &.nav{
    .toolbar-background{
      background: #ff4804 !important;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #ff4804, #ffc794) !important;
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #ff4804, #ffc794) !important;
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #ff4804, #ffc794) !important;
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #ff4804 , #ffc794) !important;
      /* Standard syntax */
    }
  }
}
