<ion-header>

  <ion-navbar id="not-home">

    <ion-title><span *ngIf="!search">Geldautomatensuche</span></ion-title>
    <ion-searchbar placeholder="" *ngIf="search" [(ngModel)]="locations.queryString" (search)="searchPopover($event)" ></ion-searchbar>

    <ion-buttons end hideWhen="ios">
      <button *ngIf="!search" (click)="toggleMap()" class="btn-toggle">
        <img *ngIf="map" src="./assets/icons/icon_atm_list.svg"/>
        <img *ngIf="!map" src="./assets/icons/icon_atm_map.svg"/>
      </button>

      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search" *ngIf="!search"></ion-icon>
        <ion-icon name="close" *ngIf="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons hideWhen="android" end>
        <button (click)="getMyLocation()" >
        <img class="nav-img" src="./assets/icons/icon_geo_loc.svg"/>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar showWhen="ios">
    <ion-searchbar placeholder="Stadt, PLZ oder Namen suchen" [(ngModel)]="locations.queryString" (search)="searchPopoverIos($event)" ></ion-searchbar>
    <button class="btn-settings"><img src="./assets/icons/icon_settings.svg" (click)="showToggle($event)"/></button>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="isIos">
  <ion-tabs color="light" tabsPlacement="top" tabsHighlight="true" #myTabs>
    <ion-tab [root]="tab1Root" tabTitle="Karte"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Liste"></ion-tab>
  </ion-tabs>
</ion-content>

<ion-content *ngIf="!isIos">
  <page-atm-map *ngIf="map"></page-atm-map>
  <page-atm-list *ngIf="!map"></page-atm-list>
</ion-content>
