.ios,
.md {
  page-atm-search {
    .scroll-content {
      height: 100%;
    }

    #map {
      width: 100%;
      height: 100%;
    }

    .content-ios{
      #map {
        width: 100%;
        height: calc(100% - 147px);
      }
    }
  }

  ion-toolbar.toolbar-ios{
    .toolbar-background-ios{
      border:none;
    }
  }

  ion-navbar.toolbar-ios{
    .toolbar-background-ios{
      border-bottom: 1px solid rgba(0, 0,0,0.3);
    }
  }

  .btn-toggle {
    background: transparent;
    vertical-align: middle;
    padding-top: 7px;
  }

  .btn-settings {
    float: right;
    height: 44px;
    width: 10%;
    padding:5px;

    img {
      width: 24px;
    }
  }

  .tabs-ios-light .tab-button[aria-selected=true] {
    background-color: $primary;
    color: white;
  }

  .bar-button-default-md {
    color: white;
  }

  .tabs-ios .tabbar {
    padding: 10px;
    background-color: rgba(238, 239, 240, 0.5);
    border: none;

    a:first-child {
      border-radius: 5px 0 0 5px;
    }

    a:nth-child(2) {
      border-radius: 0 5px 5px 0;
    }
  }

  .searchbar-ios {
    border: none;
    width: 90%;
    float: left;
  }

  .tabs-ios-light .tab-button {
    border: 1px solid $primary;
    color: $primary;
    min-height: 31px;
  }

  page-atm-list {
    .content-md {
      top: -1000px;
      -webkit-animation: slide 0.5s forwards;
      -webkit-animation-delay: 2s;
      animation: slide 0.5s forwards;
      animation-delay: 0s;
    }
  }
  @-webkit-keyframes slide {
    100% {
      top: 0;
    }
  }
  @keyframes slide {
    100% {
      top: 0;
    }
  }

  .settings-list {
    margin-bottom: 0;

    .item-md {
      background: rgba(0,55,98,0.5);

      .label-md {
        color: white;
      }
    }
  }

  button{
    background:transparent;
    .nav-img{
      padding-top:8px;
    }
  }
}

.toggle-label {
  color: $primary;
  font-size: 15px;
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}

ion-popover {
  ion-list {
    margin-bottom: 0 !important;

    .item-block {
      border-bottom: 0 !important;
    }
  }
}
