<!-- Main item template -->
<button [id]="id" *ngIf = " !checkSidebarItem(data) && itemType == 'main' " [ngClass]="{'open': detailsExpanded}" ion-button full color="primary" (click)="buttonClick(data)">
    <img src="./assets/icons/{{data.icon}}.svg"/>
    {{data.title}}
    <img src="./assets/icons/chevron_down.svg" *ngIf="!detailsExpanded && data.details" class="icon-right"/>
    <img src="./assets/icons/close.svg" *ngIf="detailsExpanded && data.details" hideWhen="android" class="icon-right"/>
    <img src="./assets/icons/chevron_up.svg" *ngIf="detailsExpanded && data.details" showWhen="android" class="icon-right"/>
</button>

<ion-card *ngIf = "data.details && !checkSidebarItem(data) && itemType == 'main' " [hidden]="!detailsExpanded">
    <ion-card-content [innerHTML]="data.details | safeHtml"></ion-card-content>
</ion-card>

<!-- Sidebar item template -->
<ion-list *ngIf = "checkSidebarItem(data) && itemType == 'side' " (click)="buttonClick(data)">
    {{data.title}}
</ion-list>
