<ion-list>
  <ion-item>
    <ion-label class="toggle-label">Nur Bankhaus August Lenz-eigene Geldautomaten anzeigen</ion-label>
    <ion-toggle [(ngModel)]="maps.balOnly" (ionChange)="changeAtm($event)" ></ion-toggle>
  </ion-item>
</ion-list>
